# Programming for Analytics - Assignment 2

### PART - 1:

### Playing with Panda libraries - Look for the file "freebird.tsv" uploaded on Canvas.

##### Question 1: Using the panda library print the first 10 entries from the provided file freebird.tsv
###### Note: import pandas

In [ ]:
# YOUR CODE HERE
# import pandas libraries
import pandas as pd 

# get the data
freebird = pd.read_csv("C:/Users/jhb_f/Desktop/Fall 2017 B/Programming/data/freebird.tsv", sep='\t')

# print first 10 entries
print(freebird.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                     Burrito Super Bowl
5         3         1                     Burrito Super Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

##### Question 2: Extract info from the file, print the name of the columns, print number of entries/observation/rows, print number of columns.

In [27]:
# YOUR CODE HERE

# GET COLUMN NAMES AND NUMBERS OF OBSERVATIONS
print(freebird.count())

#GET NUMBER OF ROWS AND COLUNMS
print(freebird.shape)

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64
(4622, 5)

##### Question 3: Which is the most favorite/sold item ?

In [67]:
# YOUR CODE HERE
fb1 = freebird.groupby('item_name').quantity.agg(['sum']).sort_values(by='sum',ascending=False)
print(fb1.head(1))

                    sum
item_name
Burrito Super Bowl  761

# PART - 2: Messy Data Files.

#### Find the data file "hotels.txt" on Canvas and compute the following questions. 

##### Question 1: Count the number of observations.

In [1]:
# YOUR CODE HERE
import pandas as pd

# get the data
hotels = pd.read_csv("C:/Users/jhb_f/Desktop/Fall 2017 B/Programming/data/hotels.txt")
print(len(hotels))

366644

##### Question 2: How many hotel types are there and how many of each?

In [2]:
# YOUR CODE HERE
hoteltypes = hotels.groupby('hotel_type').hotel_type.agg(['count'])
print(hoteltypes)

             count
hotel_type
B & B       119674
Hotel       184421
Other        62549

##### Question 3: Count the values (frequency) of each of the categorical variables.

In [2]:
# YOUR CODE HERE
# assign all cat variable to a list
hotels_cat = list(hotels.select_dtypes(include=['object']).columns) 

#count the frequency
hotels_cat_freq = [hotels[cat].value_counts() for cat in hotels_cat] 
print(hotels_cat_freq)

[USA    39900
ITA    38446
GBR    30309
FRA    22457
DEU    18069
ESP    17921
CHN    15777
JPN    14200
IND    13222
GRC    10747
AUS     9528
CAN     8099
AUT     6873
THA     6556
TUR     6355
MEX     5548
BRA     4986
ZAF     4812
ARG     4028
IRL     3975
NZL     3903
CHE     3624
IDN     3431
PRT     3304
PHL     2785
MAR     2655
POL     2529
NLD     2527
CZE     2257
BEL     2210
       ...
PRI       17
MRT       15
NER       15
GNQ       14
AFG       12
MCO       12
PRK       12
MHL       12
GNB       11
TKM       11
STP       11
TTO       10
COM        9
FLK        9
KIR        9
GIN        8
MSR        8
CAF        7
ASM        7
MAF        6
DJI        6
SOM        6
MTQ        5
ESH        5
GUF        5
TUV        4
SHN        3
TKL        3
HTI        2
TCD        1
Name: country_code, Length: 217, dtype: int64, United States               39900
Italy                       38446
United Kingdom              30309
France                      22457
Germany                     18069
Spain                       17921
China                       15777
Japan                       14200
India                       13222
Greece                      10747
Australia                    9528
Canada                       8099
Austria                      6873
Thailand                     6556
Turkey                       6355
Mexico                       5548
Brazil                       4986
South Africa                 4812
Argentina                    4028
Ireland                      3975
New Zealand                  3903
Switzerland                  3624
Indonesia                    3431
Portugal                     3304
Philippines                  2785
Morocco                      2655
Poland                       2529
The Netherlands              2527
Czech Republic               2257
Belgium                      2210
                            ...
Tajikistan                     17
Niger                          15
Mauritania                     15
Equatorial Guinea              14
Monaco                         12
North Korea                    12
Marshall Islands               12
Afghanistan                    12
Turkmenistan                   11
Sao Tome and Principe          11
Guinea-Bissau                  11
Trinidad and Tobago            10
Comoros                         9
Falkland Islands                9
Republic of Kiribati            9
Montserrat                      8
Guinea                          8
Central African Republic        7
American Samoa                  7
Somalia                         6
Sint Maarten                    6
Djibouti                        6
French Guiana                   5
Western Sahara                  5
Martinique                      5
Tuvalu                          4
Saint Helena                    3
Tokelau                         3
Haiti                           2
Chad                            1
Name: country_name, Length: 217, dtype: int64, Rome                       2864
Paris                      1635
London                     1579
Beijing                    1286
Marrakech                  1214
Istanbul                   1083
Shanghai                   1070
Prague                      972
Barcelona                   950
Florence                    937
Bangkok                     920
New Delhi                   866
Berlin                      858
Venice                      787
Guangzhou                   776
Blackpool                   739
Buenos Aires                720
Madrid                      656
Bangalore                   623
Edinburgh                   611
Shenzhen                    574
Chiang Mai                  573
Amsterdam                   555
Budapest                    553
Hanoi                       527
Milan                       522
New York City               506
Vienna                      453
Kyoto                       436
St. Petersburg              436
                           ...
Destrehan                     1
Saint-Germain-les-Arlay       1
Chendamangalam                1
Pont-d'Ain                    1
El Guelati                    1
Vigasio                       1
Nyack                         1
Luedersfeld                   1
Arese                         1
Czosnow                       1
Isola Dovarese                1
Kempt                         1
Copping                       1
Le Pallet                     1
Hele                          1
La Ville Du Bois              1
Chettle                       1
Sant Feliu de Pallerols       1
Hone                          1
Auna di Sopra                 1
Diebolsheim                   1
Drvar                         1
Vado Ligure                   1
Fossacesia                    1
Chahaignes                    1
Valle de La Pascua            1
Gallt Y Foel                  1
Itamonte                      1
Goodrich                      1
Shiping County                1
Name: location_name, Length: 49729, dtype: int64, Hotel    184421
B & B    119674
Other     62549
Name: hotel_type, dtype: int64, USA    76960
GBR    47185
ITA    37498
DEU    23869
FRA    22543
IND    14834
JPN    14619
ESP    13706
AUS    11875
CAN     8936
BRA     5568
RUS     5330
GRC     4223
ARG     4201
THA     4028
CHN     3967
MEX     3878
IDN     3430
ZAF     3366
TUR     3342
NOR     3259
TWN     2941
POL     2796
NZL     2752
IRL     2694
MYS     2600
PHL     2539
CHE     2454
NLD     2424
BEL     1680
       ...
BTN       10
TJK       10
BFA        9
COD        6
NER        6
TGO        6
BDI        6
MLI        6
CPV        5
GAB        4
SYC        3
GUF        3
LIE        3
AND        3
PNG        2
GRL        2
MRT        2
GUY        2
BEN        2
SWZ        1
COM        1
ASM        1
TON        1
LBR        1
LSO        1
WSM        1
DJI        1
VUT        1
COG        1
TLS        1
Name: visitor_country1, Length: 161, dtype: int64, USA    126543
GBR     36711
DEU     25266
CAN     24036
FRA     16362
ITA     11142
CHN      8895
IND      8679
AUS      8092
ESP      8026
NLD      5225
RUS      5194
CHE      4944
IDN      4476
TWN      4246
GRC      3752
BEL      3548
IRL      3425
MEX      3417
SGP      3326
ARG      3317
NOR      2933
JPN      2892
SWE      2676
BRA      2648
TUR      2586
THA      2077
AUT      2032
POL      2014
MYS      1926
        ...
SDN        11
TGO        10
GAB         9
YEM         8
CPV         7
TJK         6
FSM         6
COD         6
BDI         5
AFG         5
SWZ         5
LSO         5
SYC         4
GMB         4
TON         4
BEN         4
MRT         4
ASM         4
GUY         3
GRL         3
TKM         3
COK         2
WSM         2
COG         2
GIN         2
DJI         2
NER         2
KIR         1
FLK         1
SLB         1
Name: visitor_country2, Length: 170, dtype: int64, GBR    53668
USA    48153
DEU    31028
CAN    24132
FRA    22440
AUS    14081
IND    13186
CHN    13042
ITA    12465
ESP     9079
IDN     7958
RUS     7317
CHE     7034
NLD     6947
SGP     5688
IRL     5394
TWN     5364
BEL     5214
JPN     4655
BRA     4453
SWE     4256
MEX     3393
ARG     3052
ROU     2908
NOR     2828
MYS     2753
POL     2733
AUT     2670
GRC     2424
THA     2403
       ...
COD       12
WSM       12
TKM       12
SWZ       12
BEN       11
TON       11
GUF       10
MRT        7
CPV        7
GAB        7
SLE        6
LBR        6
TJK        5
TGO        5
BDI        5
NER        5
COK        4
SLB        4
GIN        4
DJI        4
GMB        4
GRL        3
GNQ        3
COG        3
MHL        1
ERI        1
FSM        1
TLS        1
KIR        1
ASM        1
Name: visitor_country3, Length: 174, dtype: int64]

##### Question 4: Which variables should be treated as text but the raw data presents them as numbers?

In [3]:
# YOUR CODE HERE
hotels.dtypes
hotels[['hotel_code', 'location_code']] = hotels[['hotel_code', 'location_code']].astype(str)
hotels.dtypes

hotel_code                   object
country_code                 object
country_name                 object
location_code                object
location_name                object
hotel_type                   object
rooms                       float64
bubble_rating               float64
bubble_one                    int64
bubble_two                    int64
bubble_three                  int64
bubble_four                   int64
bubble_five                   int64
page_position               float64
out_of                      float64
reviews                       int64
domestic_reviews              int64
international_reviews         int64
reviews_per_room            float64
visitor_country1             object
visitor_country2             object
visitor_country3             object
management_response_rate    float64
independent_flag              int64
traffic                     float64
traffic_per_room            float64
OTA_region_rate             float64
subscriber                    int64
hotel                         int64
BandB                         int64
Specialty                     int64
dtype: object

##### Question 5: Count the number of missing values in each column.

In [106]:
# YOUR CODE HERE
hotels.isnull().sum()

hotel_code                      0
country_code                    0
country_name                    0
location_code                   0
location_name                   0
hotel_type                      0
rooms                       31421
bubble_rating               22518
bubble_one                      0
bubble_two                      0
bubble_three                    0
bubble_four                     0
bubble_five                     0
page_position                  42
out_of                         42
reviews                         0
domestic_reviews                0
international_reviews           0
reviews_per_room            31421
visitor_country1                0
visitor_country2                0
visitor_country3                0
management_response_rate    22363
independent_flag                0
traffic                         2
traffic_per_room            31423
OTA_region_rate                 0
subscriber                      0
hotel                           0
BandB                           0
Specialty                       0
dtype: int64

##### Question 6: Calculate the mean, standard deviation, skewness and kurtosis for each of the numeric variables.

In [70]:
# YOUR CODE HERE

#select only numeric colunms
hotels_num = hotels.select_dtypes(exclude=['object'])
hotels_num.agg(['mean','std','skew','kurtosis'])

,rooms,bubble_rating,bubble_one,bubble_two,bubble_three,bubble_four,bubble_five,page_position,out_of,reviews,...,management_response_rate,independent_flag,traffic,traffic_per_room,OTA_region_rate,subscriber,hotel,BandB,Specialty,nan
mean,51.498062,3.921758,3.059930,3.301742,7.014199,17.221073,26.534543,48.547073,133.307404,62.237023,...,0.044547,0.977403,6899.611179,325.724082,122.465120,0.128012,0.502997,0.326404,0.170599,NaN
std,95.269292,0.818957,12.272278,11.517430,22.555240,50.082025,82.753286,170.905910,417.102635,181.939113,...,0.101389,0.148615,25954.347748,1074.048503,48.982905,0.334104,0.499992,0.468898,0.376158,NaN
skew,12.419465,-0.905479,33.082025,25.459906,24.158969,15.065432,16.435892,8.219367,6.729044,15.451969,...,2.635651,-6.424750,25.305050,33.731399,2.472800,2.226788,-0.011990,0.740448,1.751406,NaN
kurtosis,460.486705,0.910446,2848.224489,1781.237316,1669.979088,530.741498,580.735094,91.717439,56.277430,510.789682,...,6.351735,39.277624,1460.523851,2919.317583,18.056053,2.958602,-1.999867,-1.451745,1.067428,NaN

##### Question 7: Count the number of outliers in each numeric column.

In [33]:
# YOUR CODE HERE
#select only numeric colunms
hotelsnum = hotels.select_dtypes(exclude=['object'])

#count outliers out of +/-3 std
((hotelsnum < (hotelsnum.mean() - 3 * hotelsnum.std())) 
                   | (hotelsnum > (hotelsnum.mean() + 3 * hotelsnum.std()))).sum()

rooms                        4684
bubble_rating                3099
bubble_one                   3751
bubble_two                   4379
bubble_three                 4700
bubble_four                  5330
bubble_five                  4859
page_position                6424
out_of                       7810
reviews                      5056
domestic_reviews             4948
international_reviews        4512
reviews_per_room             5435
management_response_rate    12687
independent_flag             8285
traffic                      3793
traffic_per_room             3008
OTA_region_rate              5355
subscriber                      0
hotel                           0
BandB                           0
Specialty                       0
dtype: int64

##### Question 8: Change the outliers to missing.

In [61]:
# YOUR CODE HERE
import numpy as np

#assign outlers 
hotels_outliers = ((hotelsnum < (hotelsnum.mean() - 3 * hotelsnum.std())) 
                   | (hotelsnum > (hotelsnum.mean() + 3 * hotelsnum.std())))

#replace outliers to nan
hotelsnum1 = hotelsnum[hotelsnum.columns]
hotelsnum1[hotels_outliers] = np.nan

print(hotelsnum1.isnull().sum())
print(hotelsnum1.describe())

               rooms  bubble_rating     bubble_one     bubble_two  \
count  311021.000000  338110.000000  342696.000000  342961.000000
mean       32.382508       3.969432       1.281419       1.490024
std        36.352191       0.742636       2.126781       2.346079
min         1.000000       2.000000       0.000000       0.000000
25%         7.000000       3.500000       0.000000       0.000000
50%        18.000000       4.000000       0.000000       0.000000
75%        42.000000       4.500000       2.000000       2.000000
max       173.000000       5.000000      10.000000      11.000000

        bubble_three    bubble_four    bubble_five  page_position  \
count  340494.000000  340677.000000  340679.000000  338846.000000
mean        3.189075       8.193849      12.128928      15.196576
std         4.602592      11.057518      17.708965      24.076738
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       1.000000       1.000000       1.000000
50%         1.000000       4.000000       4.000000       5.000000
75%         4.000000      11.000000      16.000000      17.000000
max        22.000000      54.000000      86.000000     131.000000

              out_of        reviews      ...        reviews_per_room  \
count  337215.000000  341104.000000      ...           310697.000000
mean       44.941245      30.625009      ...                1.817386
std        67.526678      39.824728      ...                2.464321
min         1.000000       0.000000      ...                0.000000
25%         5.000000       4.000000      ...                0.187500
50%        16.000000      14.000000      ...                0.727273
75%        52.000000      40.000000      ...                2.421053
max       366.000000     194.000000      ...               11.743590

       management_response_rate  independent_flag        traffic  \
count             306753.000000          358359.0  342727.000000
mean                   0.012580               1.0    3155.747580
std                    0.031821               0.0    3942.133511
min                    0.000000               1.0       1.000000
25%                    0.000000               1.0     624.000000
50%                    0.000000               1.0    1549.000000
75%                    0.000000               1.0    3970.000000
max                    0.162741               1.0   20539.000000

       traffic_per_room  OTA_region_rate     subscriber          hotel  \
count     314629.000000    355310.000000  366644.000000  366644.000000
mean         178.660576       117.126792       0.128012       0.502997
std          210.732965        36.910701       0.334104       0.499992
min            0.044000        21.770000       0.000000       0.000000
25%           33.913793        91.684062       0.000000       0.000000
50%           94.333333       120.700769       0.000000       1.000000
75%          241.031746       132.067954       0.000000       1.000000
max         1027.111111       230.962857       1.000000       1.000000

               BandB      Specialty
count  366644.000000  366644.000000
mean        0.326404       0.170599
std         0.468898       0.376158
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       0.000000
75%         1.000000       0.000000
max         1.000000       1.000000

[8 rows x 22 columns]
rooms                       55623
bubble_rating               28534
bubble_one                  23948
bubble_two                  23683
bubble_three                26150
bubble_four                 25967
bubble_five                 25965
page_position               27798
out_of                      29429
reviews                     25540
domestic_reviews            26118
international_reviews       25870
reviews_per_room            55947
management_response_rate    59891
independent_flag             8285
traffic                     23917
traffic_per_room            52015
OTA_region_rate             11334
subscriber                      0
hotel                           0
BandB                           0
Specialty                       0
dtype: int64

##### Question 9: Impute the missing values.

In [65]:
# YOUR CODE HERE
hotelsnum2 = hotelsnum1.fillna(hotelsnum1.mean())

print(hotelsnum2.isnull().sum())
print(hotelsnum2.describe())

rooms                       0
bubble_rating               0
bubble_one                  0
bubble_two                  0
bubble_three                0
bubble_four                 0
bubble_five                 0
page_position               0
out_of                      0
reviews                     0
domestic_reviews            0
international_reviews       0
reviews_per_room            0
management_response_rate    0
independent_flag            0
traffic                     0
traffic_per_room            0
OTA_region_rate             0
subscriber                  0
hotel                       0
BandB                       0
Specialty                   0
dtype: int64
               rooms  bubble_rating     bubble_one     bubble_two  \
count  366644.000000  366644.000000  366644.000000  366644.000000
mean       32.382508       3.969432       1.281419       1.490024
std        33.481357       0.713153       2.056150       2.269043
min         1.000000       2.000000       0.000000       0.000000
25%         9.000000       3.500000       0.000000       0.000000
50%        24.000000       4.000000       0.000000       1.000000
75%        36.000000       4.500000       2.000000       2.000000
max       173.000000       5.000000      10.000000      11.000000

        bubble_three    bubble_four    bubble_five  page_position  \
count  366644.000000  366644.000000  366644.000000  366644.000000
mean        3.189075       8.193849      12.128928      15.196576
std         4.435422      10.658761      17.070394      23.146028
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       1.000000       1.000000       2.000000
50%         2.000000       4.000000       5.000000       6.000000
75%         4.000000      10.000000      14.000000      15.196576
max        22.000000      54.000000      86.000000     131.000000

              out_of        reviews      ...        reviews_per_room  \
count  366644.000000  366644.000000      ...           366644.000000
mean       44.941245      30.625009      ...                1.817386
std        64.759947      38.412617      ...                2.268524
min         1.000000       0.000000      ...                0.000000
25%         5.000000       5.000000      ...                0.250000
50%        20.000000      16.000000      ...                1.116667
75%        47.000000      37.000000      ...                1.968750
max       366.000000     194.000000      ...               11.743590

       management_response_rate  independent_flag        traffic  \
count             366644.000000          366644.0  366644.000000
mean                   0.012580               1.0    3155.747580
std                    0.029106               0.0    3811.387945
min                    0.000000               1.0       1.000000
25%                    0.000000               1.0     670.000000
50%                    0.000000               1.0    1751.000000
75%                    0.012580               1.0    3692.000000
max                    0.162741               1.0   20539.000000

       traffic_per_room  OTA_region_rate     subscriber          hotel  \
count     366644.000000    366644.000000  366644.000000  366644.000000
mean         178.660576       117.126792       0.128012       0.502997
std          195.213327        36.335714       0.334104       0.499992
min            0.044000        21.770000       0.000000       0.000000
25%           41.136223        92.986825       0.000000       0.000000
50%          127.500000       118.958915       0.000000       1.000000
75%          204.600000       132.067954       0.000000       1.000000
max         1027.111111       230.962857       1.000000       1.000000

               BandB      Specialty
count  366644.000000  366644.000000
mean        0.326404       0.170599
std         0.468898       0.376158
min         0.000000       0.000000
25%         0.000000       0.000000
50%         0.000000       0.000000
75%         1.000000       0.000000
max         1.000000       1.000000

[8 rows x 22 columns]

##### Question 10: Compute the mean, standard deviation, skewness and kurtosis for each of the numeric variables after imputation.

In [69]:
# YOUR CODE HERE
hotelsnum2.agg(['mean','std','skew','kurtosis'])

,rooms,bubble_rating,bubble_one,bubble_two,bubble_three,bubble_four,bubble_five,page_position,out_of,reviews,...,reviews_per_room,management_response_rate,independent_flag,traffic,traffic_per_room,OTA_region_rate,subscriber,hotel,BandB,Specialty
mean,32.382508,3.969432,1.281419,1.490024,3.189075,8.193849,12.128928,15.196576,44.941245,30.625009,...,1.817386,0.012580,1.0,3155.747580,178.660576,117.126792,0.128012,0.502997,0.326404,0.170599
std,33.481357,0.713153,2.056150,2.269043,4.435422,10.658761,17.070394,23.146028,64.759947,38.412617,...,2.268524,0.029106,0.0,3811.387945,195.213327,36.335714,0.334104,0.499992,0.468898,0.376158
skew,1.950910,-0.595033,2.166483,2.092908,2.053379,2.040022,2.126730,2.576417,2.514595,1.993857,...,2.069636,3.079891,0.0,2.158686,1.943989,0.434894,2.226788,-0.011990,0.740448,1.751406
kurtosis,3.775996,0.075700,4.580544,4.273343,4.124742,4.089598,4.361861,6.940086,6.654194,3.826042,...,4.280974,9.333285,0.0,4.736367,3.860286,0.452212,2.958602,-1.999867,-1.451745,1.067428