In [1]:
print(3 + 5)

8

In [3]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [4]:
for x in range(3, 6):
    print(x)

3
4
5

In [5]:
for x in range(3, 8, 2):
    print(x)

3
5
7

In [7]:
t = 0

while t <= 7: 
    print(t*2)
    t = t +1

0
2
4
6
8
10
12
14

My First Python Program

In [8]:
print("Hello World")

Hello World

In [9]:
print('Hello World')

Hello World

In [10]:
help print

SyntaxError: invalid syntax (<ipython-input-10-37e3b791bd52>, line 1)

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [14]:
3 + 5

8

In [17]:
print(3 + 5)

8

In [18]:
print(3 * 7)

21

In [19]:
print(10 / 3)

3.3333333333333335

In [20]:
print(8 ** 3)

512

In [21]:
print(43 ** 1/2)

21.5

In [22]:
print(9 ** (1/2))

3.0

In [23]:
print(100 % 27)

19

In [25]:
print(100 // 27)

3

In [26]:
firstvar = 5
print(firstvar)

5

In [34]:
x = 4+3+\
    5+7+\
    3+6
print(x)

28

In [35]:
y = 5; x = 3; z = 2

In [36]:
type(x)

int

In [37]:
print(type(x))

<class 'int'>

In [38]:
y = 3.0 
print(type(y))

<class 'float'>

In [39]:
x = float(x)
print(x)

3.0

In [40]:
y = int(y) 
print(y)

3

In [42]:
firstvar = "This is a string."
print(firstvar)

This is a string.

In [43]:
print(type(firstvar))

<class 'str'>

In [45]:
print(firstvar[2])

i

In [47]:
print(firstvar[0:4])

This

In [48]:
print(firstvar[:4])

This

In [49]:
print(firstvar[0:])

This is a string.

In [50]:
print(firstvar[1:])

his is a string.

In [51]:
print(len(firstvar))

17

In [52]:
print(firstvar[-10:18])

 a string.

In [53]:
firstvar[-10:len(firstvar)]

' a string.'

In [57]:
max(firstvar) + "1"

't1'

In [55]:
min(firstvar)

' '